.env
mal_usuarios.json
__pycache__/BlackJackView.cpython-313.pyc
__pycache__/config.cpython-313.pyc
__pycache__/db.cpython-313.pyc
cogs/__pycache__/__init__.cpython-313.pyc
cogs/__pycache__/cinecringe.cpython-313.pyc
cogs/__pycache__/economy.cpython-313.pyc
cogs/__pycache__/games.cpython-313.pyc
cogs/__pycache__/mal_tracker.cpython-313.pyc
cogs/__pycache__/user_profile.cpython-313.pyc
cogs/__pycache__/utility.cpython-313.pyc
cogs/__pycache__/voice_xp.cpython-313.pyc
database/__pycache__/__init__.cpython-313.pyc
database/__pycache__/db_manager.cpython-313.pyc
database/__pycache__/filmes_manager.cpython-313.pyc
database/__pycache__/user_manager.cpython-313.pyc
dist/utils/__pycache__/__init__.cpython-313.pyc
dist/utils/__pycache__/giphy_handler.cpython-313.pyc
dist/utils/__pycache__/image_generator.cpython-313.pyc
dist/utils/__pycache__/weather_handler.cpython-313.pyc
dist/utils/__pycache__/wheather_handler.cpython-313.pyc
dist/utils/__pycache__/xp_calculator.cpython-313.pyc
utils/__pycache__/__init__.cpython-313.pyc
utils/__pycache__/baralho.cpython-313.pyc
utils/__pycache__/giphy_handler.cpython-313.pyc
utils/__pycache__/image_generator.cpython-313.pyc
utils/__pycache__/weather_handler.cpython-313.pyc
utils/__pycache__/wheather_handler.cpython-313.pyc
utils/__pycache__/xp_calculator.cpython-313.pyc
views/__pycache__/blackjack_view.cpython-313.pyc
utils/__init__.py
dist/database/__pycache__/__init__.cpython-313.pyc
dist/database/__pycache__/db_manager.cpython-313.pyc
dist/database/__pycache__/filmes_manager.cpython-313.pyc
dist/database/__pycache__/user_manager.cpython-313.pyc
database/__init__.py
usuarios.db
cogs/__pycache__/config_cog.cpython-313.pyc
dist/
cogs/__pycache__/loja.cpython-313.pyc
migrations/__pycache__/V005__criar_tabelas_loja.cpython-313.pyc
Shingo-Bot.zip
